:root {
  --footerHeight: 110px;
}

.dft__slide {
  position: absolute;
  top: 0;
  transition: all .6s;
}
.dft__slide__footer {
  position: absolute;
  top: calc(var(--imageHeight) - var(--footerHeight));
  left: 0;
  width: 100%;
  height: var(--footerHeight);
  padding: 15px;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);
}
.dft__slide__footer__title {
  margin: 0 0 10px 0;
}
